---
layout: default
---

<!-- Intro Content -->
<header class="masthead blog-masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h3 class="font-weight-light">
          {{page.title}}
        </h3>
        <p><b>{{page.author}}</b></p>
        <p class="text-muted">Publicado el {{page.date | date: '%Y/%m/%d'}}</p>
      </div>
    </div>
  </div>
</header>
<!-- masthead -->

<div class="container">

  <div class="blog-body">
  {{ content }}
  </div>

</div>

